
/* -----------|--google fonts--|------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Serif&display=swap');
/* -----------|--google fonts--|------------*/

/* -----------|--common css start--|------------*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
/* -----------|--common css end--|------------*/
